<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="D:\Programming\projects\TournamentTracker\StoreFiles"/>
	</appSettings>
	<connectionStrings>
		<add name="COURSES_DB" connectionString="Server=MSI;Database=COURSES_DB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>