CREATE OR ALTER PROCEDURE [TOURNAMENT_TRACKER].[USP_ADD_PERSON]
	@FIRST_NAME NVARCHAR(100),
	@LAST_NAME NVARCHAR(100),
	@EMAIL_ADRESS NVARCHAR(100),
	@CELLPHONE_NUMBER NVARCHAR(20),
	@ID INT = 0 OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO TOURNAMENT_TRACKER.PERSONS(FIRST_NAME, LAST_NAME, EMAIL_ADRESS, CELLPHONE_NUMBER)
	VALUES (@FIRST_NAME, @LAST_NAME, @EMAIL_ADRESS, @CELLPHONE_NUMBER)

	SELECT @ID = SCOPE_IDENTITY();
END
