CREATE OR ALTER PROCEDURE [TOURNAMENT_TRACKER].[USP_GET_PERSON_ALL]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		ID AS Id,
		FIRST_NAME AS FirstName,
		LAST_NAME AS LastName,
		EMAIL_ADRESS AS EmailAdress,
		CELLPHONE_NUMBER AS CellphoneNumber
	FROM TOURNAMENT_TRACKER.PERSONS
END
