CREATE OR ALTER PROCEDURE [TOURNAMENT_TRACKER].[USP_ADD_TOURNAMENT]
	@TOURNAMENT_NAME NVARCHAR(200),
	@ENTRY_FEE MONEY,
	@ID INT = 0 OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO TOURNAMENT_TRACKER.TOURNAMENTS(TOURNAMENT_NAME, ENTRY_FEE, ACTIVE)
	VALUES (@TOURNAMENT_NAME, @ENTRY_FEE, 1)

	SELECT @ID = SCOPE_IDENTITY();
END
